
<!-- Show all curated places in a list -->
<div class="container-fluid">
  <div class="row">
    <!-- Dropdown menu on the left side -->
    
      <form id="selectCat" action="/create-list" method="get">
        <label for="category">Select Category:</label>
        <select id="category" class="form-control" name="category" onchange='if(this.value != 0) { this.form.submit(); }'>
          {{#if category}}
          <option value={{category}} selected >{{category}}</option>          
          {{/if}}
          {{#each allCategories}}
          <option value={{this}}>{{this}}</option>
          {{/each}}
        </select>
      </form>
</div>

      <!-- Handlebars will dynamically populate this list -->
 
      <div class="row">
        <div class="col-3">
          <h2>Pick all your places</h2>
          <p>Click on the place to <strong>add</strong> them to your favorites</p>
          <ul class="places-list">
            {{#each places}}
            <li class="place">
              <form action="/add-to-list" method="post">
                <input type="hidden" name="name" value="{{this.name}}" />
                <input type="hidden" id="category" name="category" value="{{../category}}" />
                <button type="submit" class="btn btn-dark">
                  {{this.name}}</button>
              </form>
            </li>
            {{/each}}
          </ul>
          </p>
        </div>
        <div class="col-3">
          <h2>{{username}}'s' Berliest places</h2>
          <p>Click on the place to <strong>remove</strong> them from your Berliest</p>
          <ul class="favorites-list">
            {{#each favorites}}

            <form action="/remove-from-list" method="post">
              <button type="submit" class="btn btn-dark">
                <li>{{this}}</li>
              </button>
               <input type="hidden" id="category" name="category" value="{{../category}}" />
              <input type="hidden" name="name" value="{{this}}" />

            </form>


            {{/each}}
          </ul>
</div>
    <!-- Map on the right side -->
    <div class="col-md-6">
      <div id="map"></div>
    </div>
  </div>
</div>
<ul id="selectedPlaces" class="list-group">
</div>

<script src="/js/create-list-map.js"></script>