<!-- Show all curated places in a list -->
<div class="container-fluid">
  <div class="row">
    <!-- Dropdown menu on the left side -->
    <div class="col-md-6">
      <label for="categorySelect">Select Category:</label>
      <select id="categorySelect" class="form-control">
        <option value="all">All Places</option>
        <option value="tourist">Like a real tourist</option>
        <option value="museum">Museum</option>
        <option value="breluncoffee">Frühstuck all day</option>
        <option value="restaurant">Taste Explorer</option>
        <option value="bar">Sip & Socialize</option>
        <option value="park">A day at the park</option>
        <option value="club">Endless dancing</option>
        <option value="shop">Shop till you drop</option>
        <option value="party">Where is a party at tonight?</option>
      </select>

      <h3>Selected Places</h3>
      <ul id="selectedPlaces" class="list-group">
        <!-- Selected places will be added dynamically here -->
      </ul>
    </div>
    <!-- Map on the right side -->
    <div class="col-md-6">
      <div id="map"></div>
    </div>
  </div>
</div>
<ul id="selectedPlaces" class="list-group">
  <!-- Handlebars will dynamically populate this list -->
</ul>

<p>
  <ul class="places-list">
    {{#each places}}
      <li class="place">
        Place:
        {{this.name}}
        Category:
        {{this.category}}

        <form action="/add-to-list" method="post">

          <button type="submit">Add</button>
          <input type="hidden" name="name" value={{this.name}} />

        </form>
      </li>
    {{/each}}
  </ul>
</p>

User:
{{username}}
Favorites
<ul>
  {{#each favorites}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<!-- Save list form -->
<div class="saveListFormContainer">
  <h2>Save Your List</h2>
  <form action="/create-list/save-list" method="POST" id="saveListForm">
    <input
      type="text"
      id="listName"
      name="listName"
      placeholder="Enter list name..."
    />
    <button type="submit">Save List</button>
  </form>
</div>