<!-- my-berliest.hbs -->
Favorite List
{{!-- <ul id="favorites-omar">
  {{#each favorites}}
    <li>{{this}}</li>
  {{/each}}

  {{#each coordinates}}
    <li>Name: {{this.name}}, Lat: {{this.lat}}, Lon: {{this.lon}}</li>
  {{/each}}
</ul> --}}

<ul id="favorites">
  {{#each coordinates}}
    <li data-lat="{{this.lat}}" data-lon="{{this.lon}}">{{this.name}}</li>
  {{/each}}
</ul>

<button id="showRouteBtn" class="btn btn-primary mt-2">
  Show Route
</button>

<div class="col-md-6">
  <div id="map"></div>
</div>